body {
    font-family: Calibri, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

h1 {
    margin-top: 0;
}

#file-selector {
    width: 200px;
    margin-right: 20px;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    font-size: 24px;
}

#log-files {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#log-files li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

#log-files li:hover {
    background-color: #e0e0e0;
}

#console {
    flex-grow: 1;
    width: calc(100% - 220px);
    border-top: 1px solid #ddd;
    padding-top: 1px;
    padding-left: 10px;
    max-height: 600px;
    overflow-y: auto;
    background-color: #1a1a1a;
    color: rgb(242, 242, 242);
    font-family: monospace;
    white-space: pre-wrap;
    border-radius: 10px;
}

.downscroll {
    position: fixed;
    right: 12%;
    top: 5%;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 900;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Небольшая тень для красоты */
    transition: background-color 0.2s, opacity 0.2s;
}

.downscroll:hover {
    background-color: #a9a9a9;
}